

.header{
    .navbar navbar-expand-lg bg-body-tertiary{
        background-image: linear-gradient(90deg, #FFFFC6 0%, #C6C690 35%, #d6bfe9 100%);
        .btn btn-outline-success{
            color: #6c1baf;
        }
    }
    .logo{
        margin-right: auto;
        & img{
            height: 45px;
            width: auto;
            margin: auto;
                &:hover{
                    transform: scale(2,2);
                    transition: all 3s;
                    opacity: 0.1;
                }
        }
    } 
}